@import "tailwindcss";

/* Your custom CSS */
:root {
  --background: #0b0214; /* dark purple-ish */
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0214;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
